.product_page_container {
   min-height: 100vh;
   display: grid;

}
.home_category {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 1rem;
   font-weight: 900;
}
.home_row p {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 0.5rem;
   color: #ADAAA8;
}
.flex_col {
   width: 100%;
   height: 80vh;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
gap: 5rem;
padding-top: 2rem;

}
.home_category h1 {
   text-transform: uppercase;
   letter-spacing: 4px;

   color: var(--blue);
}
.categories {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
  
}
.categories h2 {
   letter-spacing: 4px;
}
.links {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 1rem;
   width: 100%;
   background-color: var(--blue);
   border-radius: 0rem 0rem 1rem 1rem;
   padding: 1rem 2rem 2rem 1rem;
 

}
.links a {
   color: white;
   letter-spacing: 1.5px;
   text-transform: uppercase;
}
.product_container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    place-items: center;
  width: 100%;
  height: 100%;
    grid-column-gap:3.5rem ;
    grid-row-gap:1.5rem ;
    padding: 2rem 1rem;

}

.category_dropdown {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   cursor: pointer;
   background-color: var(--blue);
   color: white;
   border-radius: 1rem ;
   padding: 1rem;
   
}
@media screen and (width>=1200px) {
   .product_page_container {
      grid-template-columns: 0.25fr 0.75fr;
   }
   .home_category h1 {
      font-size: 3.5rem;
   }
}
@media screen and (900px<= width<=1200px) {
   .product_page_container {
      grid-template-rows: 0.25fr 1fr; 
   }
   .flex_col {
      flex-direction: row;
     
      height: 100%;
   }
   .home_category h1 {
      font-size: 2.5rem;
   }
}
@media screen and (width<=900px) {
   .product_page_container {
      grid-template-rows: 0.1fr 1fr; 
   }
   .flex_col {
      padding: 2rem;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 2rem;
      height: 100%;
   }
   .categories {
      align-items: center;
   }
   .home_category h1 {
      font-size: 2.5rem;
   }
}