.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--blue);
    color: white;
    gap: 2rem;
    padding: 2rem;
}
.logo_socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.bottom {
    border-top: 0.5px solid pink;
    width:100%;
   padding-top: 2rem;
    text-align: center;
}