.navbar_container {
    color: white;
    
    background-color: var(--blue);
    backdrop-filter: blur(15px);

    position: sticky;
    top: 0;
    z-index: 10;
}
.flex_row {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



.sidebar_container {

    min-height: 100vh;
    width: 25vw;
    position: fixed;
    right: 0;
    background-color: var(--blue);
display: grid;
grid-template-rows: 0.60fr 0.40fr;
place-items: center;
}
.flex_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white ;
    gap: 2rem;
}
.flex_col h3 {
    color: white;
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
@media screen and (width<=1200px) {
    .sidebar_container {
        position: sticky;
        width: 100vw;
        overflow: hidden;
    }
}