.category_page_container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: white;
}
.title h1 {
    font-size: 4rem;
    padding: 1rem;
}
.shop_category {
    display: grid;
   
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    place-items: center;
    width: 60%;
    gap: 2rem;

}

.category img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;

}
.category h1{
    background: linear-gradient(180deg, rgba(255,255,255,0) 50%, #0C0C0C 100%);
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.5rem;
}
.category {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
  
}
@media screen and (width<=900px) {
    .title {
        width: 100%;
        text-align: center;
        
        
    }
    .shop_category {
        width: 100%;
        padding: 2rem;
        justify-content: center;
    }
}

